
body{
  font-family: 'Raleway', sans-serif;
  background-color: gray;
}
.top{
  margin-top: 20px;
}
.top1{
  padding-left: 100px ;
  padding-right: 100px;
}
.top2{
  margin-top: 50px;
}

.distance{
  padding-left: 5px;
  padding-right: 5px;
}
.border{
  border-radius: 50px 50px;
  width: auto; 
  height: auto; 
  border: 5px solid rgb(0, 0, 0);
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  background: linear-gradient(to right, #F6EFD2, #CEAD78);
}
