
body{
  font-family: 'Raleway', sans-serif;
}

.font{
  font-size: 35px;
  color: #ffffff;
}

.down{
  padding: 50px;
}
.size{
  color: #ffffff;
  font-size: 30px;
}

.border{
  padding: 100px;
  border: 3px solid;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(to right, #f3ceff, #424d52);
}

html{
background-color: #ffffff;
}
